<div>
  <p>Le20200825</p>

  Le film <a href="https://www.programme-tv.net/cinema/4758626-une-rencontre/#chaine=w9-24">Une rencontre</a> est tres intéressant : à un moment on y parle de physique quantique et d'effet papillon. Or récemment la science a fait des progrès : ce phénomène n'existerait <a href="https://www.slate.fr/story/193314/effet-papillon-informatique-quantique-existe-pas?amp">pas en quantique</a>. Mais alors, les fractales papillon ne seraient pas possibles ? Ni les fractales, tout court ? 



</div>





