<h1>COBOL</h1>


<div>
  Youtube video : <h2><a href="https://www.youtube.com/watch?v=ycHXzbAmY94&feature=emb_logo&ab_channel=IBMDeveloper">A Beginner's Practical Approach to COBOL</a></h2> from IBM Developer
  <br>
  A timeline :<br>
  14:57 characteristics NJ UI 17:55 editor explorer 21:09 program content 24:15 Z editor 27:31 ZOWER Explorer 29:46 California government apprenticeship programs developers shortage 46:12 Mainframes 47:40 courses <!-- TODO URLs from there -->51:00 volunteers 53:20 newsletters subscribe 54:10 social 56:29 Student Hub

<!--  TODO url time injection component -->
</div>
