
<!-- Toolbar -->
<div class="toolbar" role="banner">
  v037<br>
 
  <br>
  
  <div class="blue underline" (click)="updateValue()"> {{value}}</div>

    <div (click)="nothing()">Belem moi 1</div>
  <div (click)="nothing()">Belem RDV de l'Erdre</div>

  <div (click)="nothing()">Maillé Brézé</div>




  <!--a [title]="product.name + ' details'">
      {{ product.name }}
      </a-->

  <a [title]="this.title"  routerLink="/peinturemurale">Peinture murale</a>

  <br>
  
  <a [title]="this.title"  routerLink="/pitchDentretien">Pitch D Entretien Pole Emploi VSI Moueza</a>



  
  

  <br>  <a [title]="this.title"  routerLink="/star">Methode STAR  PDF Pole Emploi VSI Moueza Peter S.T.A.R.</a>




   <br> <a href="https://moueza.github.io/tennis-moueza-peter-sport-nantes.html">tennis</a>

   <br> <a   routerLink="/tennisLe20200816">tennis Le 2020 08 16 DTC Tmur</a>

   <br> <a   routerLink="/arbitrage">Arbitrage tennis moueza application</a>

   <br> <a   routerLink="/championnat-2020-2021-tennis-Nantes-OVS-Peter-MOUEZA">championnat de tennis 2020 2021 MOUEZA tennis OVS Peter Nantes Tmur</a>

   <br> <a   routerLink="/network-alarm">network alarm!</a>



   
   <br> <a [title]="this.title"  routerLink="/misc">Divers</a>
   <br><a [title]="this.title"  routerLink="/samsung">Samsung</a>
  <!--footer-component>  </footer-component-->
	</div>
