
<!-- Toolbar -->
<div class="toolbar" role="banner">
  v043<br>
 
  <br>
  
  <div class="blue underline" (click)="updateValue()"> {{value}}</div>

    <div (click)="nothing()">Belem moi 1</div>
  <div (click)="nothing()">Belem RDV de l'Erdre</div>

  <div (click)="nothing()">Maillé Brézé</div>




  <!--a [title]="product.name + ' details'">
      {{ product.name }}
      </a-->

  <a [title]="this.title"  routerLink="/peinturemurale">Peinture murale</a>

  <br>
  
  <a [title]="this.title"  routerLink="/pitchDentretien">Pitch D Entretien Pole Emploi VSI Moueza</a>



  
  

  <br>  <a [title]="this.title"  routerLink="/star">Methode STAR  PDF Pole Emploi VSI Moueza Peter S.T.A.R.</a>




   <br> <a href="https://moueza.github.io/tennis-moueza-peter-sport-nantes.html">tennis</a>

   <br> <a   routerLink="/tennisLe20200816">tennis Le 2020 08 16 DTC Tmur</a>

   <br> <a   routerLink="/arbitrage">Arbitrage tennis moueza application</a>

   <br> <a   routerLink="/championnat-2020-2021-tennis-Nantes-OVS-Peter-MOUEZA"><b>championnat</b> de <b>tennis</b> 2020 2021 MOUEZA tennis OVS Peter Nantes Tmur</a>

   <br> <a   routerLink="/network-alarm">network alarm!</a>



   <br> <a   routerLink="/angular">Angular</a>

   <br> <a   routerLink="/cobol">COBOL</a>

   
   <br> <a [title]="this.title"  routerLink="/misc">Divers</a>
   <br><a [title]="this.title"  routerLink="/samsung">Samsung</a>






   
 
   <br> <a   routerLink="/concours-Google-battle-dev-moueza-peter">concours Google Battle dev</a>
   <br> <a   routerLink="/inventions-moueza-peter">Inventions</a>
    <br> <a   routerLink="/images-moueza-peter">Images</a>

 <br> <a   routerLink="/arbre-aux-herons-jardin-extraordinaire-jules-verne-carriere-misery-nantes-moueza-peter">arbre aux herons jardin extraordinaire Jules verne carriere Misery Nantes moueza peter</a>
  <!--footer-component>  </footer-component-->
	</div>
