<h2>CHAMPIONNAT-TENNIS 2020-2021 Tmur</h2>

<div>
<p>Championnat gratuit, pour tous allant du 5/10/2020 au 4/04/2021 compris.</p>
<p>Nombre illimité de personnes</p>
<p>Tous niveaux, tous âges</p>
<p>Mixte : pas de différence homme femme</p>
<p>Toutes origines : pas que les gens d'OVS, pas besoin d'appartenir à un club de tennis</p>
</div>


<div>
  <h3>Règlement</h3>
  <ul>
    
<li>Le but est de jouer contre un maximum de personnes, et de faire les scores les plus prononcés, francs.</li>
<li>Un score sera attribué dans ce sens, vers la fin du championnat</li>
<li>Vous organisez vous-même les rencontres entre vous, quand vous voulez, où vous voulez (en salle ou pas, les lieux sur la sortie OVS sont fictifs, pour remplir les cases)</li>

<li>1 match = match normal en 2 set gagnants de 6 jeux, avec avantages</li>
<li>Récompense : l'honneur !</li>
<li>Chacun emmène 4 balles de son choix</li>
<li>Le seul lien officiel est celui donné sur OVS : Google  "moueza peter nantes championnat tennis", car tous les liens subséquents sont susceptibles de changer pour raison d'hébergement. Aussi, si un lien ne fonctionne pas, vous y référer pour retrouver votre chemin.</li>
<li>Toutes vos données seront publiques</li>
<li>Les données sont à entrer par les joueurs, qui sont responsables de leurs données et seulement de celles-ci (sous peine d'être éliminé)</li>

<li>Les données mal rentrées dans le système seront imputées aux joueurs concernés, à priori non modifiables.</li>
<li>Tout litige sera tranché par l'organisateur</li>
<li>Règlement de jeu de la FFT</li>
<li>Remarques publiques : à mettre sur le <a href="https://nantes.onvasortir.com/sortie_read_new.php?Vac=&Id=3248881">fil de la sortie OVS</a></li>
<li></li>
 </ul>
</div>


<div>

<p>Ne vous inscrire que si vous adhérez à 100% au règlement, irrévocable.</p>
<a href="https://docs.google.com/spreadsheets/d/1mVMw7DkzWN066ZnoI6elkwZ7X23eT0jHRkT1Whqm4zw/edit?usp=sharing"><b>INSCRIPTION</b> et consignation</a>
</div>

<div>Peter MOUEZA</div>
