

<!-- Toolbar -->
<div class="toolbar" role="banner">
  v07 <br>
  Peter from src/app/app.component.html
  <br>
  
  <div class="blue underline" (click)="updateValue()">Peinture murale</div>
  <div (click)="nothing()">Maillé Brézé</div>


  Peinture murale value = {{value}}

  <!--a [title]="product.name + ' details'">
      {{ product.name }}
   </a-->

   <a [title]="this.title"  routerLink="/peinturemurale">Peinture murale</a>

<br>
   
   <a [title]="this.title"  routerLink="/pitchDentretien">Pitch D Entretien Pole Emploi VSI Moueza</a>



   
  

     <a [title]="this.title"  routerLink="/star">Methode STAR  PDF Pole Emploi VSI Moueza Peter S.T.A.R.</a>


 <a [title]="this.title"  routerLink="/tennisLe20200816">tennis Le 2020 08 16 DTC Tmur</a>

    <a [title]="this.title"  routerLink="/peinturemurale">Arbitrage tennis moueza</a>

  <!--footer-component>  </footer-component-->
</div>

<router-outlet></router-outlet>
