//https://css-tricks.com/styling-underlines-web/
//ids in class ??
.blue{
    color:blue;
}

.underline {
  text-decoration: underline;
}

#netlink {
    color:blue;
      text-decoration: underline;
    
}
